<mat-form-field>
    <label>Enter votre nom</label>
    <input
      matInput
      placeholder="nom"

      required
    />
    <label>Enter votre prenon</label>
    <input
      matInput
      placeholder="prenom"

      required
    />
    <label>Enter votre e_mail</label>
    <input
      matInput
      placeholder="pat@example.com"

      required
    />

        <label>Enter votre adresse</label>
        <input
          matInput
          placeholder="mots de passe"
  
          required
        />

        <label>Enter mots de passe</label>
        <input
          matInput
          placeholder="mots de passe"
  
          required
        />
    
</mat-form-field>
